# ngrok Configuration for Docker
# นำ authtoken จาก https://dashboard.ngrok.com/get-started/your-authtoken มาใส่ที่นี่
NGROK_AUTHTOKEN=3ILxJKcTcFWcF7bY5UEGxonfQVt_2yWrHG3RJYPsHwbdfTwFB
NGROK_DOMAIN=molecular-repackage-fraction.ngrok-free.dev
